
.root{-fx-background-color: black}

.button{-fx-background-radius: 30;
    -fx-background-color: indianred;
    -fx-text-fill: black;

}
.label{-fx-text-fill: aliceblue;
    -fx-font-size: 20;
    -fx-font-family: "Bebas Neue";
 }

